<mat-toolbar color="primary" class="bg-cor-azul">
    <mat-toolbar-row>
        <span>Ui Kit</span>
        <span class="example-spacer"></span>
        <button mat-button [routerLink]="['Styleguide']">Styleguide</button>
        <button mat-button [routerLink]="['Components']">Components</button>
    </mat-toolbar-row>
</mat-toolbar>

<section>
    <div class="container">
        <h3>Introdução</h3>
        <p>Olá! Bem-vindo ao <strong>Ui Kit</strong>, uma ferramenta para tornar a criação e manutenção de modelos simples</p>
    </div>
</section>

<router-outlet></router-outlet>