<mat-sidenav-container>
    <mat-sidenav #sidenav>
        Menu aqui
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <mat-toolbar-row>
                <span>Ui Kit</span>
                <span class="example-spacer"></span>
                <button mat-icon-button (click)="sidenav.toggle()" aria-hidden="true">
                    <mat-icon>menu</mat-icon>
                </button>
            </mat-toolbar-row>
        </mat-toolbar>

        <div class="container">
            <h3>Dialog notification</h3>
            <button mat-button (click)="alerta()">Alerta!</button>
            <button mat-button (click)="warnings()">Warnings!</button>
            <button mat-button (click)="confirmar()">Confirmar!</button>
        </div>
        <div class="container">
            <h3>Toast notification</h3>
            <button mat-button (click)="toastAlerta()">Toast alerta!</button>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>