<mat-sidenav-container>
  <mat-sidenav #sidenav>
      Menu aqui
  </mat-sidenav>

  <mat-sidenav-content>
      <mat-toolbar color="primary">
          <mat-toolbar-row>
              <span>Ui Kit</span>
              <span class="example-spacer"></span>
              <button mat-icon-button (click)="sidenav.toggle()">
                  <mat-icon>menu</mat-icon>
              </button>
          </mat-toolbar-row>
      </mat-toolbar>

      <div class="container">
          <button mat-button (click)="alerta()">Alerta!</button>
          <button mat-button (click)="confirmar()">Confirmar!</button>
      </div>
  </mat-sidenav-content>
</mat-sidenav-container>