.container{
    padding: 20px 0;
    border-bottom: 1px solid #eee;
}


.colors{
    .list-colors{
        list-style: none;
        padding: 0;
        margin: 20px 0 0 0;

        li{
            padding: 0;

            .color{
                height: 150px;
                flex-flow: column;
                margin: 0 10px 10px 0;
                border: 1px solid #eee;

                span{
                    padding: 3px 13px;
                    border: 1px solid #eee;
                    color: #666;
                    background-color: #fff;
                    font-size: 14px;
                    margin:0 0 10px 10px;
                }
            }
        }
    }
}

.typography{
    .fonts{
        margin: 10px 0 0 0;
    }
}

.buttons{
    .button-row{
        margin: 0 0 1rem 0;
    }
}