<section class="colors">
    <div class="container">
        <h3>Colors</h3>
        <p>Aqui temos váriaveis e classes para uso de cores padrão. <br>
        <code>$cor-</code> são váriaveis definidas no <code>helpers.scss</code>, <code>.cor-</code> e <code>.bg-cor-</code> são classes definidas no <code>colors.scss</code></p>
        <ul class="row list-colors">
            <li class="col-12 col-md-3">
                <div class="color bg-cor-azul row justify-content-end align-items-start">
                    <span>$cor-azul</span>
                    <span>.cor-azul</span>
                    <span>.bg-cor-azul</span>
                </div>
            </li>
            <li class="col-12 col-md-3">
                <div class="color bg-cor-vermelho row justify-content-end align-items-start">
                    <span>$cor-vermelho</span>
                    <span>.cor-vermelho</span>
                    <span>.bg-cor-vermelho</span>
                </div>
            </li>
            <li class="col-12 col-md-3">
                <div class="color bg-cor-cinza-escuro row justify-content-end align-items-start">
                    <span>$cor-cinza-escuro</span>
                    <span>.cor-cinza-escuro</span>
                    <span>.bg-cor-cinza-escuro</span>
                </div>
            </li>
            <li class="col-12 col-md-3">
                <div class="color bg-cor-cinza-claro row justify-content-end align-items-start">
                    <span>$cor-cinza-claro</span>
                    <span>.cor-cinza-claro</span>
                    <span>.bg-cor-cinza-claro</span>
                </div>
            </li>
            <li class="col-12 col-md-3">
                <div class="color bg-cor-azul-claro row justify-content-end align-items-start">
                    <span>$cor-azul-claro</span>
                    <span>.cor-azul-claro</span>
                    <span>.bg-cor-azul-claro</span>
                </div>
            </li>
            <li class="col-12 col-md-3">
                <div class="color bg-cor-verde row justify-content-end align-items-start">
                    <span>$cor-verde</span>
                    <span>.cor-verde</span>
                    <span>.bg-cor-verde</span>
                </div>
            </li>
            <li class="col-12 col-md-3">
                <div class="color bg-cor-branco row justify-content-end align-items-start">
                    <span>$cor-branco</span>
                    <span>.cor-branco</span>
                    <span>.bg-cor-branco</span>
                </div>
            </li>
        </ul>
    </div>
</section>

<section class="typography">
    <div class="container">
        <h3>Typography</h3>
        <p>Vejamos app-dialog-notification fonts padrões do html <code>h1</code>, <code>h2</code>, <code>h3</code>, <code>h4</code>, <code>h5</code>, <code>h6</code></p>
        <div class="fonts">
            <small>Roboto - 40px </small>
            <h1>Título</h1>
            <small>Roboto - 32px </small>
            <h2>Título</h2>
            <small>Roboto - 28px </small>
            <h3>Título</h3>
            <small>Roboto - 24px </small>
            <h4>Título</h4>
            <small>Roboto - 20px </small>
            <h5>Título</h5>
            <small>Roboto - 16px </small>
            <h6>Título</h6>
        </div>
    </div>
</section>

<section class="buttons">
    <div class="container">
        <h3>Buttons</h3>
        <p>Estilos de botões com ações de <code>hover</code>, <code>focus</code> e <code>active</code></p>
        
        <h5>Basic Buttons</h5>
        <div class="button-row">
          <button mat-button>Basic</button>
          <button mat-button color="primary">Primary</button>
          <button mat-button color="accent">Accent</button>
          <button mat-button color="warn">Warn</button>
          <button mat-button disabled>Disabled</button>
        </div>

        <h5>Raised Buttons</h5>
        <div class="button-row">
          <button mat-raised-button>Basic</button>
          <button mat-raised-button color="primary">Primary</button>
          <button mat-raised-button color="accent">Accent</button>
          <button mat-raised-button color="warn">Warn</button>
          <button mat-raised-button disabled>Disabled</button>
        </div>
    </div>
</section>