.cor-azul{ color: $cor-azul !important; }
.bg-cor-azul{ background-color: $cor-azul !important; }

.cor-azul-claro{ color: $cor-azul-claro !important; }
.bg-cor-azul-claro{ background-color: $cor-azul-claro !important; }

.cor-vermelho{ color: $cor-vermelho !important; }
.bg-cor-vermelho{ background-color: $cor-vermelho !important; }

.cor-cinza-escuro{ color: $cor-cinza-escuro !important; }
.bg-cor-cinza-escuro{ background-color: $cor-cinza-escuro !important; }

.cor-cinza-claro{ color: $cor-cinza-claro !important; }
.bg-cor-cinza-claro{ background-color: $cor-cinza-claro !important; }

.cor-verde{ color: $cor-verde !important; }
.bg-cor-verde{ background-color: $cor-verde !important; }

.cor-branco{ color: $cor-branco !important; }
.bg-cor-branco{ background-color: $cor-branco !important; }